@font-face {
    font-family: avenir;
    src: url(../fonts/Avenir-Font/avenir_ff/AvenirLTStd-Roman.otf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: avenir !important;
}
html {
    scroll-behavior: smooth;
}
*:focus {
    box-shadow: none !important;
    border-color: initial !important;
}
textarea {
    resize: none;
}
/* utilities */

.general-head {
    margin-top: 90px;
    margin-bottom: 40px;
}
.general-head .general-head-text {
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
    color: #1e2d3b;
}
.general-head .line {
    width: 80px;
    border: 4px solid rgba(237, 205, 31, 1);
}
/*  preloader styles */
.loader {
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
  
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
    }
  
    35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
  }
.main-container{
    display: none;
    opacity: 0;
    transition: all 0.7s ease-in !important;
}
/* Navbar styles */

.navbar {
    background-color: #1e2d3b !important;
    padding: 0px !important;
}
.logo-sec {
    background-color: rgba(237, 205, 31, 1);
    height: 100%;
}
.navbar-brand {
    font-size: 23px;
    line-height: 1em;
    margin-left: 30px;
    color: white;
}
.nav-link {
    font-size: 14px;
    line-height: 37px;
    color: white;
    margin-top: 40px;
    padding: 0 40px !important;
    transition: all 0.4s ease;
}
.nav-link:hover,
.nav-link:active {
    color: rgba(237, 205, 31, 1);
}

/*  */

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(1) {
    text-align: center;
    color: white;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 600px;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
    text-align: center;
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2015/11/25/09/42/rocks-1061540__340.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 600px;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
    text-align: center;
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/22/17/02/beach-2089936__340.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 600px;
}
.header-text {
    position: relative;
    top: 160px;
}
.header-text {
    padding-top: 100px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header-text h1 {
    font-size: 60px;
}

/* services styles */
/* .services {
    margin-top: 80px;
} */

.services .card {
    margin: 20px auto;
    width: 32%;
    border: none;
}
.services .card-body {
    background-color: #f7f7f7;
}
.services .card-title {
    font-size: 22px;
    color: #3d5975;
}
.services .card-text {
    color: #3b3a3a;
    font-size: 15px;
}
/* about section */
.about-section {
    background-color: #f7f7f7;
    margin-top: 50px;
}
.about-text-wrapper {
    width: 80%;
}
.about-text {
    font-size: 17px;
    color: #3b3a3a;
}
.about-aside {
    background-image: url(https://cdn.pixabay.com/photo/2019/10/23/12/38/architecture-4571499__340.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-data {
    background-color: rgba(237, 205, 31, 1);
}
.about-data .digits {
    font-size: 60px;
    font-weight: 700;
    color: #3d5975;
}
.about-data .details {
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 22px;
    color: #3d5975;
}

/* projects section */

/* Image zoom on hover + Overlay colour */
.parent {
    width: 100%;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -o-transition: all 95s;
    transition: all 0.9s;
}

.bg-one {
    background-image: url(https://media.timeout.com/images/101602611/image.jpg);
}

.parent .child .project-hover {
    display: none !important;
    color: black !important;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 400px;
    display: flex;
}

.like-project {
    float: left;
    padding-left: 50px;
    margin-top: 330px;
}
.project-name {
    position: relative;
    text-transform: capitalize;
    left: -30px;
    top: 200px;
}
.share-project {
    float: right;
    padding-right: 50px;
    margin-top: 305px;
}

.parent:hover .child,
.parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
    content: "";
    height: 400px;
    background-color: #f4f4f4;
    opacity: 0.5;
    display: block !important;
}

.parent:hover .project-hover,
.parent:focus .project-hover {
    display: block !important;
}

/* client */
.client-name {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
}

/* contact */
.contact-header {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}
.contact-info {
    font-size: 17px;
    font-weight: normal;
}
.contact-info ul {
    margin-top: 20px;
    list-style: none;
    list-style-type: none;
}
.get-quote {
    margin-top: 150px;
}
.get-quote-line {
    margin-bottom: 90px;
    border: 4px solid rgba(237, 205, 31, 1);
    width: 70px;
}
.get-qoute-text {
    font-weight: 700;
}
.btn {
    border-radius: none !important;
}
.submit-btn {
    background-color: rgba(59, 58, 58, 1);
    color: rgba(237, 205, 31, 1);
    transition: all 0.4s ease;
}
.submit-btn:hover {
    color: rgba(59, 58, 58, 1);
    background-color: rgba(237, 205, 31, 1);
}
.copywrite-text {
    font-size: 14px;
}
.social {
    background-color: rgba(59, 58, 58, 1);
    display: inline-block;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}
@media only screen and (max-width: 991px) {
    .get-qoute-text {
        font-weight: 700;
        font-size: 22px;
    }
}
@media only screen and (max-width: 909px) {
    .header-text {
        padding-top: 70px;
        width: 90%;
    }
}
@media only screen and (max-width: 862px) {
    .nav-link {
        padding: 0px 30px !important;
    }
}
@media only screen and (max-width: 768px) {
    .nav-link {
        padding: 0 45px 0px 5px !important;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .chevron-down {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 767px) {
    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(1),
    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2),
    #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
        height: 400px;
    }
    .nav-link {
        margin-top: 20px;
        padding-left: 20px !important;
    }
    .services .card {
        width: 17rem;
    }
    .about-text-wrapper {
        width: 100%;
    }
    .about-aside {
        height: 400px;
    }
    .about-data .digits {
        font-size: 40px;
        font-weight: 700;
        color: #3d5975;
    }
    .about-data .details {
        font-size: 20px;
    }
    .parent .child .project-hover {
        height: 300px;
    }
    .contact-office-sec {
        margin-top: 40px;
    }
    .get-quote {
        margin-top: 50px;
    }
    .get-quote-line {
        margin-bottom: 30px;
    }
    .get-qoute-text {
        font-weight: 700;
        font-size: 20px;
    }
}
@media only screen and (max-width: 467px) {
    .general-head .general-head-text {
        font-size: 40px;
    }
    .navbar {
        background-color: rgba(237, 205, 31, 1) !important;
    }
    .navbar-nav {
        background-color: #1e2d3b;
    }
    .navbar-brand {
        margin-left: 15px;
    }
    .header-text {
        padding-top: 15px;
    }
    .header-text h1 {
        font-size: 30px;
    }
}

/* Media Queries */
